<img src="https://gallery.mailchimp.com/7ab3b29ff62651cb04d1db745/images/19c6cb41-d00f-49b0-b84c-af79d5cfe2f3.gif">


<h2 style="font-size: 20px; padding-bottom: 5px; border-bottom: solid 1px #eee">Set up your account on Pangaea</h2>

<p>You are invited to create a user account on pangaea-consultants.com. Use this account to log in to our web site and access your reports.</p>
<p>Click this link to accept the invite:</p>
<p style="margin-top: 20px;"><a style="text-decoration: none; background-color: #2554A6; color: #fff; font-weight: normal; letter-spacing: 0px; padding: 15px; border-radius: 10px" href="{{ .ConfirmationURL }}">Set up account</a></p>